body{
	background: #F2F2F2;
	padding-top: 50px;
	font-family: Arial;
}

table{
	margin-left:auto; 
    margin-right:auto;
}
table.tabla-listado{
	border-collapse: separate;
    border-spacing: 0;	
    border-color: #BAD6FB;
}
table.tabla-listado thead{
	background: #B8D1F3;
	font-weight: bold;
}
table.tabla-listado thead .encabezado{
	background: #D7E3F3;
	font-size: 18px;
}
table.tabla-listado tbody tr:nth-child(odd){
	background: #EBF0F6;
}
table.tabla-listado tbody tr:nth-child(even){
	background: #DDE6F2;
}

table.tabla-form{
	height: 90%;
}
table.tabla-form tr{
	height: 60px;
}

table.tabla-form tr td input,select{
	height: 25px;
	border-radius: 3px;
	border:1px solid #A4A6A8;
	width: 80%;
}
table.tabla-form tr td.actions{
	border-top: 1px solid #B5B7BA;
}

div.btn-container{
	margin-left:auto; 
    margin-right:auto;
	width:80%;
	padding: 10px;
}
.btn-nuevo{
	background: #3E77C1;
	color: #fff;
	border:1px solid #1A54A1;
	border-radius: 3px;
	padding: 10px;
	width: 100px;
	cursor:pointer;
	font-weight: bold;
	font-size: 16px;
}
.btn-nuevo:hover{
	background: #2D5B97
}
.btn-guardar{
	background: #3E77C1;
	color: #fff;
	border:1px solid #1A54A1;
	border-radius: 3px;
	padding: 10px;
	width: 100px;
	cursor:pointer;
	font-weight: bold;
	font-size: 16px;
}
.btn-guardar:hover{
	background: #2D5B97
}
.btn-cancelar{
	background: #BBBDC0;
	color: #474849;
	border:1px solid #A0A2A4;
	border-radius: 3px;
	padding: 10px;
	width: 100px;
	cursor:pointer;
	font-weight: bold;
	font-size: 16px;
}
.btn-cancelar:hover{
	background: #ADAFB0;
}
.modal{
	width:100%;height:100%;position:fixed;
	background-color: rgba(0, 0, 0, .9);
	z-index: 1000;
	font: oblique bold 120%;
	position: fixed;
	top:0px;
	left:0px;
}

.modal .container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	width: 55%;
	background: #fff;
	color:#000;
	border-radius: 5px;
	padding:15px; 
	margin-top:50px;
	width: 60%;
	height: 75%;
}
.modal .container .title{
	width: 100%;	
	padding-top:10px;
	padding-bottom: 10px;
	font-size: 28px;
	font-weight: bold;	
	border-bottom: 1px solid #B5B7BA;
}
.modal .container .body{
	width: 100%;
	height: 90%;
	overflow: auto;
}

	
