<form name="formEmpleado" id="formEmpleado">
	<table width="100%" class="tabla-form" >
		<tr>
			<td align="right" width="30%"><strong>Nombre:</strong></td>
			<td>
				<input type="text" name="Nombre" id="Nombre" maxlength="50" required>
			</td>
		</tr>
		<tr>
			<td align="right"><strong>Apellido Paterno:</strong></td>
			<td>
				<input type="text" name="ApPaterno" id="ApPaterno" maxlength="50" required>
			</td>
		</tr>
		<tr>
			<td align="right"><strong>Apellido Materno:</strong></td>
			<td>
				<input type="text" name="ApMaterno" id="ApMaterno" maxlength="50" required>
			</td>
		</tr>
		<tr>
			<td align="right"><strong>Departamento:</strong></td>
			<td>
				<select name="Departamento" id="Departamento" required>
					<option value="">Seleccione Departamento...</option>
				</select>
			</td>
		</tr>
		<tr>
			<td align="right"><strong>Sueldo:</strong></td>
			<td>
				<input type="text" name="Sueldo" id="Sueldo" onKeyPress="inputFloat(this)" required>
			</td>
		</tr>
		<tr>
			<td align="right"><strong>Fecha de Nacimiento:</strong></td>
			<td>
				<input type="date" name="FecNac" id="FecNac" required>
			</td>
		</tr>
		<tr >
			<td colspan="2" class="actions" align="right">
				<button type="button" class="btn-cancelar" onclick="modal.close()">Cancelar</button>
				<button type="button" class="btn-guardar" onclick="guardar()">Guardar</button>
			</td>
		</tr>
	</table>

	<input type="hidden" id="clave_emp" name="clave_emp" value="">
</form>